.container {
  width: 800px;
  height: 600px;
  background-color: bisque;
}

.caja {
  width: 200px;
  height: 200px;
  background-color: crimson;
}
.caja:hover {
  background-color: blue;
}
.caja-secundaria {
  width: 200px;
  height: 200px;
  background-color: green;
}
.caja-secundaria-repuesto {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}