* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container {
    width: 90%;
    height: 70vh;
    background-color: cadetblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background-color: darkblue;
    width: 25%;
    height: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    color: white;
}

/* media query */

