.parent {
    width: 600px;
    height: 800px;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
    grid-template-areas: 
    'menu menu menu'
    'menu menu menu'
    'menu menu menu';
}

.parent div {
    font-size: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    grid-area: menu;
}



/* https://cssgrid-generator.netlify.app */

